
<div class="links ">
    <div class="personal-information">
        <a href="/EditProfil/personal">
            <span class="circle">1</span>
            <label>Personal Information</label>
            <hr class="peripendicular-line">
        </a>
    </div>
    <div class="interests">
        <a href="/EditProfil/interests" class="span_circle">
            <span class="circle">2</span>
            <label for="">Interests</label>
            <hr class="peripendicular-line">
        </a>
    </div>
    <div class="/EditProfil/educate">
        <a href="education" class="span_circle">
            <span class="circle">3</span>
            <label for="">Education</label>
            <hr class="peripendicular-line">
        </a>
    </div>
    <div class="exper">
        <a href="/EditProfil/experience" class="span_circle">
            <span class="circle">4</span>
            <label for="">Experience</label>
            <hr class="peripendicular-line">
        </a>
    </div>
    <div class="document">
        <a href="/EditProfil/document" class="span_circle">
            <span class="circle">5</span>
            <label for="">Document</label>
            <hr class="peripendicular-line">
        </a>
    </div>
    <div class="languag">
        <a href="/EditProfil/language" class="span_circle">
            <span class="circle">6</span>
            <label for="">Languages</label>
            <hr class="peripendicular-line">
        </a>
    </div>
    <div class="contact-info">
        <a href="/EditProfil/contactInfo" class="span_circle">
            <span class="circle">7</span>
            <label for="">Contact Information</label>
        </a>
    </div>
</div>